/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400;700&display=swap');

html,
body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    /*font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
html,
body,
.swiper-container,
.swiper-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* NAVIGATION */
nav {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.1em;
    font-size: 16px;
    z-index: 10000;
    text-transform: uppercase;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7049194677871149) 50%, rgba(255,255,255,0) 100%);
    cursor: grab;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

nav .logotype {
    position: relative;
    top: 20px;
}


nav .logotype img {
    width: 4rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.nav-item {
    display: inline;
    margin-right: 15px;
    opacity: 0.5;
}

li.nav-item:hover {
    opacity: 1;
    transition: opacity 0.1s ease-out .2s;
}

.gallery-scroll {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    cursor: grab;
}

.gallery-scroll img {
    cursor: pointer;
    opacity: 0.5;
}


/* GALLERY SECTION */

section.gallery {
    width: 100%;
    height: 2000px;
    background: #000;
}

.panelCon{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    transition: bottom 0.4s linear;
}
.panel {
    width: 100%;
}
